<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary ">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="../../assets/icons/LogoFinalSemFundo2.png" alt="">
        
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="row">
        <ul>
          <input class="form-control" type="text" placeholder="Pesquisar Produtos">
        </ul>
        <button class="btn top ">
          <img src="../assets/icons/round-search-24px.svg" alt=""></button>

      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">Minha conta</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Pedidos
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Link</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Link</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Link</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Link</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Contato
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Contato 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Contato 2</a>
              <a class="dropdown-item" href="blog-post.html">Contato 3</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>